@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
/* base reset css */
html {
    box-sizing: border-box;
    font-size: 16px;
}
  
*, *:before, *:after {
    box-sizing: inherit;
    font-family: 'Roboto', sans-serif;
}
  
body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}
  
ol, ul {
    list-style: none;
}
  
img {
    max-width: 100%;
    height: auto;
}
/* base styles and components */
.container{
    width: 1200px;
    margin: 0 auto;
}
.title{
    padding-top: 170px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 37px;
    color: #4d88ce;
    text-shadow: 4px 2px 2px rgba(0, 0, 0, 0.2);
    padding-bottom: 130px;
}
.button{
    display: block;
    width: 200px;
    height: 70px;
    background-color: #f4ce90;
    padding-top: 22px;
    text-align: center;
    color: #e5725d;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    transition: .3s all ease;
    border-radius: 14px;
    box-shadow: 5px 6px 8px 6px rgba(34, 60, 80, 0.2);
    margin-bottom: 80px;
}
.button:hover{
    color: #f4ce90;
    background-color: #e5725d;
    transform: translateY(-3px);
}
.main_title{
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    color: #4d88ce;
    text-shadow: 4px 2px 2px rgba(0, 0, 0, 0.2);
    padding-bottom: 50px;
}
/* header styles */
.header__menu{
    height: 90px;
}
.menu{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}
.menu_link{
    display: block;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    color: #4d88ce;
    transition: .3s all;
}
.menu_link:hover{
    color: #f09a6b;
    transform: translateY(-3px);
    text-shadow: 4px 2px 2px rgba(0, 0, 0, 0.2);
}
.header_block{
    position: relative;
}
.header_img{
    width: 70%;
    position: absolute;
    top: 0%;
    left: 37%;
}
.circular-arrow {
    width: 58px;
    height: 58px;
    border: 2px solid #e5725d;
    border-radius: 100%;
    position: relative;
    animation: down 1.5s infinite;
    margin: 18px auto 42px auto;
    box-sizing: border-box;
}
.circular-arrow::before {
    content: '';
    position: absolute;
    top: 15px;
    left: 18px;
    width: 18px;
    height: 18px;
    border-left: 2px solid #e5725d;
    border-bottom: 2px solid #e5725d;
    transform: rotate(-45deg);
}
@keyframes down {
    0% {
    transform: translate(0);
    }
    20% {
    transform: translateY(15px);
    }
    40% {
    transform: translate(0);
    }
}
/* main block styles */
.main{
    background-image: url(../img/maun_bg.png);
    background-position: center center;
    padding: 50px 0px;

}
.climat{
    margin-bottom: 70px;
}
.climat_row{
    display: flex;
    column-gap: 70px;
    align-items: center;
}
.climat_info{
    color: #4d88ce;
    width: 630px;
    font-size: 22px;
    text-align: justify;
}
.climat_carusel{
    width: 500px;
}
/* section bio */
.bio{
    position: relative;
}
.bio_box {
    width: 540px;
    
}
.bio_row{
    display: flex;
    justify-content: space-between;
    align-items: start;
}
.bio_img{
    box-shadow:rgba(0, 0, 0, 0.2);
}
.bio_info{
    color: #4d88ce;
    font-size: 22px;
    text-align: justify;
    padding-bottom: 150px;
}
/* footer styles */
.footer{
    background-color: #f4ce90;
    height: 350px;
    padding: 70px 0;
}
.footer_row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.email a{
    color: #e5725d;
    font-weight: 700;
    text-decoration: none;
    font-size: 25px;
}
.name_develop{
    font-size: 25px;
    color: #e5725d;
    text-align: right;
    font-weight: 700;
    padding-top: 16px;
}
#video{
    display: none;
    background-color: #f4ce90;
    width: 800px;
    height: 600px;
}
/* media styles */
@media (min-width: 992px) and (max-width: 1110px){
    .menu_link{
        font-size: 16px;
    }
    .bio_img{
        width: 400px;
    }
    .title{
        padding-top: 120px;
        font-size: 30px;
        padding-bottom: 70px;
    }
}
@media (min-width: 768px) and (max-width: 992px){
    .menu_link{
        display: none;
    }
    .header_img{
        display: block;
        margin: 0 auto;
        position:inherit;
        left: 0%;
    }
    .title{
        padding-top: 10px;
        padding-bottom: 18px;
        text-align: center;
        font-size: 29px;
    }
    .button{
        margin: 0 auto;
        display: block;
        width: 150px;
        height: 50px;
        padding-top: 15px;
        font-size: 15px;
    }
    .climat_row{
        display: block;
    }
    .climat_carusel{
        width: 400px;
        display: block;
        margin: 0 auto;
        margin-bottom: 18px;
    }
    .climat_info{
        width: 600px;
        display: block;
        margin: 0 auto;
        font-size: 17px;
        padding-bottom: 20px;
    }
    .bio_row{
        display: block;
    }
    .bio_img{
        width: 400px;
        display: block;
        margin: 0 auto;
        margin-bottom: 18px;
    }
    .bio_box{
        width: 100%;
    }
    .bio_info{
        width: 600px;
        display: block;
        margin: 0 auto;
        font-size: 17px;
        padding-bottom: 50px;
    }
}
@media (min-width: 576px ) and (max-width: 768px){
    .menu_link{
        display: none;
    }
    .header_img{
        display: block;
        margin: 0 auto;
        position:inherit;
        left: 0%;
    }
    .title{
        padding-top: 10px;
        padding-bottom: 18px;
        text-align: center;
        font-size: 29px;
    }
    .button{
        margin: 0 auto;
        display: block;
        width: 150px;
        height: 50px;
        padding-top: 15px;
        font-size: 15px;
    }
    .climat_row{
        display: block;
        padding-bottom: 0;
    }
    .climat_carusel{
        width: 300px;
        display: block;
        margin: 0 auto;
        margin-bottom: 18px;
    }
    .climat_info{
        width: 400px;
        display: block;
        margin: 0 auto;
        font-size: 15px;
        padding-bottom: 0px;
    }
    .bio_row{
        display: block;
    }
    .bio_img{
        width: 300px;
        display: block;
        margin: 0 auto;
        margin-bottom: 18px;
    }
    .bio_box{
        width: 100%;
    }
    .bio_info{
        width: 400px;
        display: block;
        margin: 0 auto;
        font-size: 15px;
        padding-bottom: 50px;
    }
    .footer{
        height: 450px;
    }
    .footer_row{
        display: block;
    }
    .links{
        display: block;
        margin: 0 auto;
        margin-bottom: 16px;
    }
    .links a{
        display: block;
        margin: 0 auto;
    }
    .links a img{
        display: block;
        margin: 0 auto;
    }
    .email{
        display: block;
        margin: 0 auto;
    }
    .email a{
        display: block;
        margin: 0 auto;
        text-align: center;
    }
    .name_develop{
        text-align: center;
    }
}
@media (min-width: 300px) and (max-width: 576px){
    .menu_link{
        display: none;
    }
    .container{
        width: 280px;
    }
    .header_img{
        display: block;
        margin: 0 auto;
        position:inherit;
        left: 0%;
        width: 40%;
    }
    .title{
        padding-top: 10px;
        padding-bottom: 18px;
        text-align: center;
        font-size: 25px;
    }
    .button{
        margin: 0 auto;
        display: block;
        width: 150px;
        height: 50px;
        padding-top: 15px;
        font-size: 15px;
    }
    .climat_row{
        display: block;
        padding-bottom: 0;
    }
    .climat_carusel{
        width: 280px;
        display: block;
        margin: 0 auto;
        margin-bottom: 18px;
    }
    .climat_info{
        width: 300px;
        display: block;
        margin: 0 auto;
        font-size: 15px;
        padding-bottom: 0px;
    }
    .main_title{
        font-size: 22px;
    }
    .bio_row{
        display: block;
    }
    .bio_img{
        width: 300px;
        display: block;
        margin: 0 auto;
        margin-bottom: 18px;
    }
    .bio_box{
        width: 100%;
    }
    .bio_info{
        width: 300px;
        display: block;
        margin: 0 auto;
        font-size: 15px;
        padding-bottom: 50px;
    }
    .footer{
        height: 450px;
    }
    .footer_row{
        display: block;
    }
    .links{
        display: block;
        margin: 0 auto;
        margin-bottom: 16px;
    }
    .links a{
        display: block;
        margin: 0 auto;
    }
    .links a img{
        display: block;
        margin: 0 auto;
    }
    .email{
        display: block;
        margin: 0 auto;
    }
    .email a{
        display: block;
        margin: 0 auto;
        text-align: center;
    }
    .name_develop{
        text-align: center;
    }
    .small{
        width: 360px;
    }
}